<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid justify-content-between">

    <a href="/eaticWeb/">
      <img class="navbar-brand logo me-md-5" src="/eaticWeb/assets/logo.png" alt="eatic logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto gap-3">

        <li class="nav-item">
          <a class="nav-link" href="/eaticWeb/">الرئيسية</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/eaticWeb/pages/price.html">الأسعار</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/eaticWeb/pages/blogs.html">المدونة</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/eaticWeb/pages/about.html">ماذا عنا</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/eaticWeb/pages/help.html">المساعدة</a>
        </li>

      </ul>

      <div class="d-flex gap-2 ms-md-5">
        <a href="/eaticWeb/pages/price.html" class="btn btn-primary">
          أطلب عرض النظام
        </a>

        <a class="btn btn-outline-primary" target="_blank"
           href="https://wa.me/201021179969">
          تجربة مجانية
        </a>
      </div>

    </div>
  </div>
</nav>
