<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid justify-content-between">

    <a href="index.html">
      <img class="navbar-brand logo me-md-5" src="assets/logo.png" alt="eatic logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="index.html" data-page="index.html">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="pages/price.html" data-page="price.html">الأسعار</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="pages/blogs.html" data-page="blogs.html">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="pages/about.html" data-page="about.html">ماذا عنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="pages/help.html" data-page="help.html">المساعدة</a>
        </li>
      </ul>

      <div class="d-flex gap-2 ms-md-5">
        <a href="pages/price.html" class="btn btn-primary px-3 py-2">
          <span class="fs-6 fw-normal text-white">أطلب عرض النظام</span>
        </a>

        <a
          class="btn btn-outline-primary border border-1 shadow-sm px-4"
          type="button"
          href="https://wa.me/201021179969?text=السلام%20عليكم%20%F0%9F%91%8B%0A%0Aحابب%20أطلب%20*تجربة%20مجانية*%20لنظام%20eatic.%0A%0A%F0%9F%93%9D%20بياناتي:%0Aالاسم:%0Aالدولة:%0Aالمدينة:%0Aاسم%20المطعم:%0Aعدد%20الفروع:%0A%0A%F0%9F%93%A6%20ملاحظات%20اختيارية:%0A-%20هل%20عندك%20توصيل؟%0A-%20عدد%20أجهزة%20الكاشير؟%0A%0Aفي%20انتظار%20تواصلكم%20%F0%9F%99%8F"
        target="_blank"
        >
         <span class="fs-6 fw-normal text-primary">تجربة مجانية</span>
        </a>
      </div>
    </div>
  </div>
</nav>
